<div class="small-2 columns">
  <label>Vehicle</label>
</div>
<div class="small-10 columns">
  <%= link_to "#{VehiclePresenter.new(@service.vehicle).name}", @service.vehicle %>
  <%= hidden_field(:service, :vehicle_id, value: @service.vehicle_id) %>
</div>