<h1>Create Service</h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'Create Service Type', new_service_type_path %> |
<%= link_to 'Create Vehicle', new_vehicle_path %>

<%= render 'form', user_action: 'Create' %>
