<h1>Create Service</h1>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Create Service Type', new_service_type_path %></li>
  <li><%= link_to 'Create Vehicle', new_vehicle_path %></li>
</ul>

<%= render 'form', user_action: 'Create' %>
