<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center">About CertoTrack</h1>
  </div>
</div>

<div class="row">
  <div class="small-7 columns">
    <p>
      Certotrack is a web application that will help you track equipment
      certifications and locations, personnel certifications, and training
      needs.
    </p>

    <p>
      Certotrack provides you with an easy way to visually evaluate what
      equipment needs to be examined for operational readiness and where it was
      last located in your organization.
    </p>
  </div>

  <div class="small-5 columns">
    <div class="panel radius">
      <p>
        <%= image_tag 'screenshot1.png' %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <div class="panel radius">
      <p>
        <%= image_tag 'screenshot2.png' %>
      </p>
    </div>
  </div>
  <div class="small-7 columns">
    <p>
      If your organization has recurring training for its personnel, it will
      give you quick reference screens to help you maintain their training needs
      and to see what personnel are not currently trained in a given
      certification. Certotrack can be setup to send you friendly automatic
      e-mails when equipment or personnel need attention.
    </p>
    <p>
      Stop using multiple spreadsheets to manage your needs. We know you are
      busy. Let us help you with your management needs.
    </p>
    <p>
      <a href="mailto:sales@certotrack.com">Contact us at
        sales@certotrack.com</a> or (303) 720-6515 to find out how we can
      simplify your job!
    </p>

    <p>
      <%= link_to 'Sign Up', new_registration_path, class: "button small radius right" %>
    </p>
  </div>
</div>