<div class="row">
  <div class="small-10 small-centered columns">

    <h1 class="text-center">
      Welcome to CertoTrack
    </h1>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="small-8 columns">
    <%= image_tag 'crystalLake.jpg', 'data-equalizer-watch' => '' %>
  </div>
  <div class="small-4 columns">
    <div class="panel radius" data-equalizer-watch>
      <p>
        CertoTrack enables you to more easily track your equipment certifications, personnel qualifications, and more.
      </p>

      <p>
        <a href="mailto:sales@certotrack.com">Contact us at sales@certotrack.com</a> to find out how we can simplify your job!
      </p>
    </div>
  </div>
</div>
