<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employee.error_count, "error") %> prevented this Employee from being saved:</h2>

    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>