<h1>All Employees</h1>

<ul class="inline-list">
  <li><%= link_to "Create Employee", new_employee_path %></li>
</ul>

<ul class="inline-list">
  <li>Total: <%= @employee_count %></li>
</ul>

<%= render 'employee_list'%>

<%= will_paginate @employees, renderer: FoundationPagination::Rails %>