<h1>Edit Service Type</h1>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Create Service Type", new_service_type_path %></li>
</ul>

<%= render 'form', user_action: 'Update' %>

<%= link_to 'Delete', @service_type, method: :delete, data: {confirm: 'Are you sure you want to delete?'} %>