<h1>Edit Service Type</h1>

<ul class="inline-list">
  <li><%= link_to "All Vehicle Services", services_path %></li>
  <li><%= link_to "Create Service Type", new_service_type_path %></li>
</ul>

<%= render 'form', user_action: 'Update' %>

<%= ServiceTypePresenter.new(@service_type, self).delete_link %>