<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">User Administration</a>
        </h1>
      </li>
    </ul>
  </nav>
</div>

<div class="panel">
  <ul class="menu no-bullet">
    <li class="menu-item"> <%= link_to 'All Locations', locations_path, class: "menu-item-link icon all-location-link" %> </li>
    <li class="menu-item"> <%= link_to 'Deactivated Employees', deactivated_employees_path, class: "menu-item-link icon all-emp-link" %> </li>
    <li class="menu-item"> <%= link_to 'All Users', customer_users_path, class: "menu-item-link" %> </li>
  </ul>
</div>