CertoTrack - Home

<h2>Welcome to CertoTrack</h2>

<% if can? :read, :equipment %>
  <hr/>
  Equipment Links:
  <%= render 'equipment_links' %>
<% end %>

<% if can? :read, :certification %>
  <hr/>
  Certification Links:
  <%= render 'certification_links' %>
<% end %>

<% if (can? :manage, :all) %>
  <hr/>
  Administration Links:
  <%= render 'administration_links' %>
<% elsif (can? :read, :equipment) || (can? :read, :certification) %>
  <hr/>
  User Administration Links:
  <%= render 'user_administration_links' %>
<% end %>

<% if (cannot? :read, :equipment) && (cannot? :read, :certification) %>
  <p>You are not authorized for any services. Please contact support@certotrack.com.</p>
<% end %>

<form action="/logout">
  <input type="submit" value="Log out"/>
</form>
