CertoTrack - Home

<h2>Welcome to Certotrack</h2>

<% if can? :read, :equipment %>
  Equipment Links:
  <%= render 'equipment_links' %>
<% end %>

<% if can? :read, :certification %>
  Certification Links:
  <%= render 'certification_links' %>
<% end %>

<% if (cannot? :read, :equipment) && (cannot? :read, :certification) %>
  <p>You are not authorized for any services. Please contact support@certotrack.com.</p>
<% end %>

<form action="/logout">
  <input type="submit" value="Log out"/>
</form>
