CertoTrack - Home

<h2>Welcome to Certotrack</h2>

<% if can? :read, :equipment %>
  <%= render 'equipment_links' %>
<% else %>
  <p>You are not authorized for any services. Please contact support@certotrack.com.</p>
<% end %>

<form action="/logout">
  <input type="submit" value="Log out"/>
</form>
