<li>
  <a href="#" data-dropdown="drop1" class="button tiny secondary radius dropdown">Export</a>
  <ul id="drop1" data-dropdown-content class="f-dropdown">
    <li>
      <%= link_to 'Export to CSV', equipment_index_path(format: 'csv', params: params) %>
    </li>
    <li>
      <%= link_to 'Export to Excel', equipment_index_path(format: 'xls', params: params) %>
    </li>
    <li>
      <%= link_to 'Export to PDF', equipment_index_path(format: 'pdf', params: params) %>
    </li>
  </ul>
</li>