<li>
  <%= link_to 'Export to CSV', expiring_equipment_path(format: 'csv', params: params) %>
</li>
<li>
  <%= link_to 'Export to Excel', expiring_equipment_path(format: 'xls', params: params) %>
</li>