<li>
  <%= link_to 'Export to CSV', noninspectable_equipment_path(format: 'csv', params: params) %>
</li>
<li>
  <%= link_to 'Export to Excel', noninspectable_equipment_path(format: 'xls', params: params) %>
</li>
<li>
  <%= link_to 'Export to PDF', noninspectable_equipment_path(format: 'pdf', params: params) %>
</li>