<h1>Edit User</h1>

<ul class="inline-list">
  <li><%= link_to 'All Users', customer_users_path %></li>
</ul>

<%= render 'form', user_action: 'Update', form_path: customer_user_path(@user), delete_link: UserPresenter.new(@user, self).delete_link %>