<% if model.errors.any? %>
    <div class="panel errors radius">
      <ul class="no-bullet">
        <% model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>