<% if model.errors.any? %>
  <div class="panel errors radius">
    <h4><%= pluralize(model.errors.count, "error") %> prevented this <%= model.class.name.underscore.humanize %> from being saved:</h4>

    <ul class="no-bullet">
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>