<% if @certification_type.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@certification_type.errors.count, "error") %> prevented this Certification Type from being saved:</h2>

    <ul>
      <% @certification_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>