<h1>Create Certification Type</h1>

<ul class="inline-list">
  <li><%= link_to 'Search Certification Types', search_certification_types_path %></li>
</ul>

<%= render 'form', user_action: 'Create' %>
