<li>
  <%= link_to 'Export to CSV', certifications_path(format: 'csv', params: params) %>
</li>
<li>
  <%= link_to 'Export to Excel', certifications_path(format: 'xls', params: params) %>
</li>
<li>
  <%= link_to 'Export to PDF', certifications_path(format: 'pdf', params: params) %>
</li>