<div class="small-2 columns">
  <%= f.label :employee_id, 'Employee' %>
</div>
<div class="small-4 columns">
  <%= select(:certification, :employee_id,
             options_from_collection_for_select(@employees, 'id', 'name',
                                                @certification.employee_id),
             {prompt: 'Select Employee...'}) %>
</div>
<div class="small-6 columns">
  <%= link_to 'Create Employee', new_employee_path %>
</div>