<div class="small-2 columns">
  <%= f.label :certification_type_id, 'Certification Type' %>
</div>
<div class="small-4 columns">
  <%= select(:certification, :certification_type_id,
             options_from_collection_for_select(@certification_types, 'id', 'name',
                                                @certification.certification_type_id),
             {prompt: 'Select Certification Type...'}) %>
</div>
<div class="small-6 columns">
  <%= link_to 'Create Certification Type', new_certification_type_path, class: "button tiny radius" %>
</div>

