<li>
  <%= link_to 'Export to CSV', expired_certifications_path(format: 'csv', params: params) %>
</li>
<li>
  <%= link_to 'Export to Excel', expired_certifications_path(format: 'xls', params: params) %>
</li>
<li>
  <%= link_to 'Export to PDF', expired_certifications_path(format: 'pdf', params: params) %>
</li>