<li>
  <%= link_to 'Export to CSV', recertification_required_certifications_path(format: 'csv', params: params) %>
</li>
<li>
  <%= link_to 'Export to Excel', recertification_required_certifications_path(format: 'xls', params: params) %>
</li>
<li>
  <%= link_to 'Export to PDF', recertification_required_certifications_path(format: 'pdf', params: params) %>
</li>