<div class="field">
  Certification Type <%= @certification.certification_type.name %>
  <%= hidden_field(:certification, :certification_type_id, value: @certification.certification_type_id) %>
</div>
