<div class="field">
  Employee <%= link_to "#{@certification.employee.first_name} #{@certification.employee.last_name}", @certification.employee %>
  <%= hidden_field(:certification, :employee_id, value: @certification.employee_id) %>
</div>