<h1>Create Certification</h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'All Employee Certifications', certifications_path %> |
<%= link_to 'Create Employee', new_employee_path %>

<%= render 'form', user_action: 'Create' %>
