<h1>Create Certification</h1>

<ul class="inline-list">
  <li><%= link_to 'Search Certifications', search_certifications_path %></li>
  <li><%= link_to 'Create Certification Type', new_certification_type_path %></li>
  <li><%= link_to 'Create Employee', new_employee_path %></li>
</ul>

<%= render 'form', user_action: 'Create' %>
