<h1>Deactivated Employee List</h1>

<div>Total: <%=@employee_count%></div>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
</ul>

<%= render 'deactivated_employee_list'%>

<%= will_paginate @employees %>