/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.alert-notice {
  color: green;
}

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: image-url('sorted_asc.gif');
}

.sortable th .desc {
  background-image: image-url('sorted_desc.gif');
}

#primary-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0 10px 0 5px;
    border-right: 1px solid black;
  }
  li:last-child {
    border: none;
  }
}

#export-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin: 0;
    padding: 0 10px 0 5px;
    border-right: 1px solid black;
  }
  li:last-child {
    border: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}