/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides

 *= require_tree .
 */

.alert-timedout {
  display: none !important;
}

.field-name {
  font-weight: bold;
}

.field {
  padding-top: 10px;
}

.actions {
  padding-top: 10px;
}

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sortable th .asc {
  background-image: image-url('sorted_asc.gif');
}

.sortable th .desc {
  background-image: image-url('sorted_desc.gif');
}

.panel.errors {
  background-color: #fff3f3 !important;
  border: 1px solid red;
  color: #cc0000;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}