h1 Login

div
  div
    form(action='/sessions', method='post')
      span
        label(for='email') Email
        input(type='text', id='email', name='session[email]')

        label(for='password') Password
        input(type='text', id='password', name='session[password]')

        input(type='submit', value='Login')
