<table class="sortable">
  <thead>
  <tr>
    <th><%= sortable 'name', title = 'Location' %></th>
    <% if can? :manage, :customer %>
      <th><%= sortable 'customer_name' %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= link_to location.name, location.model %></td></td>
      <% if can? :manage, :customer %>
        <td><%= location.customer_name %></td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>